<template>
    <base-card>
        <h2>AddResource</h2>
        <form>
            <div class="form-control">
                <label for="title">Title</label>
                <input id="title" name="title" type="text"/>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="3"></textarea>
            </div>
            <div class="form-control">
                <label for="link">Title</label>
                <input id="link" name="link" type="url"/>
            </div>
        </form>
        <base-button type="submit">Add resource</base-button>
    </base-card>
</template>

<style scoped>
    h2{
        color:greenyellow;
    }

    label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    }

    input,
    textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.15rem;
    border: 1px solid #ccc;
    }

    input:focus,
    textarea:focus {
    outline: none;
    border-color: #3a0061;
    background-color: #f7ebff;
    }

    .form-control {
    margin: 1rem 0;
    } 
</style>