<template>
    <li>
      <base-card>
        <header>
          <h3>{{ title }}</h3>
          <button>Delete</button>
        </header>
      
      <p>{{ description }}</p>
      <nav>
        <a :href="link">View Resource</a>
      </nav>
    </base-card>
    </li>
</template>

<script>
    export default {
        props:{
          title:{
              type: String
          }, 
          description:{
              type: String
          }, 
          link: {
            type: String
          }
        }
    }    
</script>

<style scoped>
  li {
    margin: auto;
    max-width: 40rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }

  p {
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: #73b559;
  }
</style>