<template>
    <base-card>
        <h2>TheResources</h2>
        <base-button @click="setSelectedTab('stored-resources')">Stored resources</base-button>
        <base-button @click="setSelectedTab('add-resource')">Add resources</base-button>
    </base-card>
    <component :is="selectedTab"></component>
</template>

<script>
    export default {
        data() {
            return{
                selectedTab: 'stored-resources'
            }
        },
        methods: {
            setSelectedTab(tab){
                this.setSelectedTab=tab;
            }
        }
    }
</script>

<style scoped>
    h2{
        color:greenyellow;
    }
</style>
