<template>
    
    <!-- 1) HEADER-->
    <the-header title="Hello"></the-header>
    
    <!-- 2) CARD WITH BUTTONS -->
    <the-resources></the-resources>

    <!-- 3) LIST OF RESOURCES -->
    <base-card>
        <h2>SingleResource</h2>
        <ul>
            <single-resource 
            v-for="res in storedResources" 
            :key="res.id"
            :title="res.title"
            :description="res.description"
            :link="res.link"
            >
            </single-resource>
        </ul>
    </base-card>

    <!-- 4) ADD RESOURCE -->
    <add-resource></add-resource>

</template>


<script>
    import TheHeader from './components/layout/TheHeader.vue';
    import TheResources from './components/resources/TheResources.vue';
    import SingleResource from './components/resources/SingleResource.vue';
    import AddResource from './components/resources/AddResource.vue';


    export default {
        components: {
            TheHeader,
            TheResources,
            SingleResource,
            AddResource
        },
        data() { //MOCK data
            return {
                storedResources: [
                    {
                    id: 'official-guide',
                    title: 'Official Guide',
                    description: 'The official Vue.js documentation.',
                    link: 'https://vuejs.org',
                    },
                    {
                    id: 'google',
                    title: 'Google',
                    description: 'Learn to google...',
                    link: 'https://google.org',
                    },
                ],
            };
        },
    };
</script> 

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    * {
        box-sizing: border-box;
    }

    html {
        font-family: 'Roboto', sans-serif;
    }

    body {
        margin: 0;
        background-color: dimgray;
    }

    h2{
        color:greenyellow;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: auto;
        max-width: 40rem;
    }
</style>